{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}

<div class="container">
<div class="col-sm" id="nenhuma">
    <h1 style="text-align: center">To do list</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center; color: #9C1A1C;">Nenhuma tarefa, crie uma!</h4>
        </div>
    {% else %}

<div class="col-sm" id="task_list">
        <table class="table">
         <thead>
        <tr class="table-primary">
            <th>Tarefa</th>
            <th>Adicionado</th>
            <th>Ações</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td class="table-light">{{ task.content }}</td>
                <td class="table-light">{{ task.date_created.date() }}</td>
                <td class="table-light">
                    <a href="/delete/{{task.id}}">Deletar</a>
                    <br>
                    <a href="/update/{{task.id}}">Editar</a>
                </td>
            </tr>

            </thead>
  <tbody>
        {% endfor %}
    {% endif %}

<div class="row">
        <form action="/" method="POST" >
            <div class="col">
            <input class="form-control" type="text" name="content" id="botao_adicionar" placeholder="Digite uma tarefa">
            </div>
            <div class="col">
            <input type="submit" value="Adicionar Tarefa" id="botao_adicionar" class="btn btn-info">
            </div>
        </form>
</div>
</div>
</div>
</div>
</div>
{% endblock %}